<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net461" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net461" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net461" />
  <package id="CrystalReports.Engine" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.ReportSource" version="13.0.3501" targetFramework="net461" />
  <package id="CrystalReports.Shared" version="13.0.3501" targetFramework="net461" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net461" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net461" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net461" />
</packages>